@import '../../../../resources/colors';
@import '../../../../resources/variables';

.item-edit-view {
  height: 47rem;
  width: 100%;
  border-radius: $default-border-radius;
  background-color: $color-primary;
  padding: 1.5em 2em;
  box-sizing: border-box;
  overflow: auto;

  -webkit-box-shadow: $default-shadow;
  -moz-box-shadow: $default-shadow;
  box-shadow: $default-shadow;

  &__header {
    margin: 0 0 1rem;
    display: flex;
  }

  &__edit-section {
    display: grid;

    grid-template-columns: 50% 50%;
  }

  &__image-section {
    overflow: hidden;
    margin-right: 1em;
    border-radius: $default-border-radius;
    cursor: pointer;
  }

  &__text-section {
  }
}
