.menu-list {
}

.content {
  width: 100%;
  height: 100%;
  padding-left: 20rem;
  padding-top: .5rem;
  overflow-y: auto;
}

.grid-list {
  padding: .5rem !important;
}

.grid-tile {
  cursor: pointer;
  overflow: hidden;
}

.add-icon {
  position: absolute !important;
  right: 3rem;
  bottom: 2rem;
}

.height-inherit {
  height: inherit;
}
