@import '../../../../resources/colors';
@import '../../../../resources/variables';

.categories-tab {
  height: 47rem;
  width: 100%;
  border-radius: $default-border-radius;
  background-color: $color-primary;
  box-sizing: border-box;
  position: relative;
  padding: 1.5em 1.5em 0;
  display: grid;
  grid-template-rows: 3rem auto 4.5rem;

  -webkit-box-shadow: $default-shadow;
  -moz-box-shadow: $default-shadow;
  box-shadow: $default-shadow;

  &__header {
    font-weight: 500;
    color: $color-background;
    margin: 0;
    font-size: 1.1em;
  }

  &__category-container {
    overflow-y: auto;
    margin-bottom: 1em;

    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-track {
      background: $color-background;
      border-radius: $default-border-radius;
    }

    &::-webkit-scrollbar-thumb {
      background: $color-secondary;
      border-radius: $default-border-radius;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: $color-secondary-light;
    }
  }

  &__category-container {
    overflow-y: auto;
    margin-bottom: 1em;
    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-track {
      background: $color-background;
      border-radius: $default-border-radius;
    }

    &::-webkit-scrollbar-thumb {
      background: $color-secondary;
      border-radius: $default-border-radius;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: $color-secondary-light;
    }
  }

  &__category-item {
    color: $color-background;

    height: 1.5em;
    padding: .5em 0;
    margin: .5em 0;
    border-radius: $default-border-radius;

    display: flex;
    align-items: center;

    transition: 0.3s;

    &:hover {
      color: $color-secondary-light;
    }
  }

  &__category-name {
    font-weight: 500;
  }

  &__add-new {
    border-top: 1px solid $color-background;
    display: flex;
    align-items: center;
  }

  &__add-new-button {
    display: flex;
  }

  @media screen and (min-width: $screen-size-mobile) {
    padding: 1em 1em 0;

    &__header {
      font-size: 1.1em;
    }
  }

  @media screen and (min-width: $screen-size-tablet) {
    padding: 1.5em 1.5em 0;

    &__header {
      font-size: 1.5em;
    }
  }
}
