body {
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.page {
  height: 100%;
  width: 100%;
}

.main-scroll {
  overflow: auto;
  margin-top: 64px;
  height: calc(100vh - 64px);
  padding-bottom: 64px;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.clickable {
  cursor: pointer;
}
