@import '../../resources/colors';
@import '../../resources/variables';

.login {

  width: 100vw;
  height: 100vh;
  margin: 0;

  display: grid;
  grid-template-columns: 70% 30%;

  &__form {
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-primary-ultralight;
    -webkit-box-shadow: -3px 0px 5px 0px rgba(221, 254, 255, 1);
    -moz-box-shadow: -3px 0px 5px 0px rgba(221, 254, 255, 1);
    box-shadow: -3px 0px 5px 0px rgba(221, 254, 255, 1);

  }

  &__svg-container {
    display: flex;
    justify-content: center;
  }

  &__svg {
    width: 50%;
  }

}
