
.Paper {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Avatar {
  margin: 1rem
}

.Form {
  width: 100%;
  margin-top: 1rem;
}

.Submit {
  margin-top: 1rem;
}
