@import '../../resources/colors';
@import '../../resources/variables';

.table-plan {
  height: 100%;
  width: 100%;
  border-radius: $default-border-radius;
  display: grid;
  background-color: $color-primary;

  -webkit-box-shadow: $default-shadow;
  -moz-box-shadow: $default-shadow;
  box-shadow: $default-shadow;

  &__internal-container {
    background-color: $color-background;
    height: 91%;
    width: 95%;
    margin: auto;
    border-radius: $default-border-radius;
    position: relative;

    -webkit-box-shadow: $default-shadow;
    -moz-box-shadow: $default-shadow;
    box-shadow: $default-shadow;
  }

  &__table {
    background-color: $color-secondary;
    border-radius: $default-border-radius;

    color: $color-white;
    font-size: 2rem;

    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    &--waiting {
      background-color: $color-secondary-light;
    }
  }
}

.draggable {
  touch-action: none;
  user-select: none;
}
