.MuiDialog-paper {
  margin-left: 1rem !important;
  margin-right: 1rem !important;
  width: 100% !important;
}

.order-choice-container {
  display: flex;
}

.order-choice {
  padding: 1rem;
  width: 50%;
}

.order-choice-svg {
  width: 100%;
}

.order-choice-text {
  text-align: center;
}