@import '../../resources/colors';
@import '../../resources/variables';

.icon-button {
  background-color: $color-primary;
  font-size: .6rem;
  padding: 25%;
  border-radius: $default-border-radius;
  margin-bottom: 2rem;

  -webkit-box-shadow: $default-shadow;
  -moz-box-shadow: $default-shadow;
  box-shadow: $default-shadow;

  &__icon {
    fill: $color-background;
  }

  transition: 0.3s;

  &:hover {
    background-color: $color-primary-light;

    &__icon {
      fill: $color-primary-ultralight
    }
  }
}
