@import '../../resources/colors';
@import '../../resources/variables';

.text-area {
  position: relative;
  padding: 15px 0 0;
  margin-bottom: 30px;
  width: 100%;

  &__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $color-white;
  }

  &__input {
    font-family: inherit;
    width: 100%;
    border: 2px solid gray;
    border-radius: $default-border-radius;
    outline: 0;
    font-size: 1.3rem;
    margin-top: 1rem;
    color: white;
    background: transparent;
    height: 5rem;
    resize: vertical;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &[type=number] {
      -moz-appearance: textfield;
    }

    &:focus {
      padding-bottom: 6px;
      border-width: 3px;
      border-color: $color-secondary;

      & .text-area__label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 1rem;
        color: $color-secondary;
        font-weight: 700;
      }
    }

    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-track {
      background: $color-background;
      border-radius: $default-border-radius;
    }

    &::-webkit-scrollbar-thumb {
      background: $color-secondary;
      border-radius: $default-border-radius;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: $color-secondary-light;
    }
  }
}
