.container {
  height: 100%;
  padding-top: 7rem;

  .buttons {
    display: flex;
    justify-content: flex-end;

    button {
      margin: 1rem;
    }
  }
}

.full-height {
  height: 100%;
}

.half-height {
  height: 60%;
}

.trash-icon {
  position: absolute;
  top: 5rem;
  right: 2rem;
}
