@import '../../resources/colors';
@import '../../resources/variables';

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, .65);

  &__dialog {
    background-color: $color-background;
    border-radius: $default-border-radius;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 30em;
    height: 20em;
    margin: auto;
    z-index: 10000;
    overflow: auto;
    display: grid;
    grid-template-rows: 3rem auto 5rem;
  }

  &__header {
    text-align: left;
    margin: 0;
    padding: 1em;
    font-size: 1.3em;
  }

  &__content {
    padding: 1.5em;
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
  }
}
