@import '../../resources/colors';
@import '../../resources/variables';

.feed {
  border-radius: $default-border-radius;
  background-color: $color-primary;
  padding: 1rem;
  box-sizing: border-box;
  margin-bottom: 1em;

  height: 100%;
  overflow: auto;

  display: grid;
  grid-template-rows: 3rem auto;

  &__item-container {
    overflow: auto;
    padding-right: .5em;

    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-track {
      background: $color-background;
      border-radius: $default-border-radius;
    }

    &::-webkit-scrollbar-thumb {
      background: $color-secondary;
      border-radius: $default-border-radius;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: $color-secondary-light;
      border-radius: $default-border-radius;
    }
  }

  &__header {
    margin: 0 0 1rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: $color-background;
  }

  &__no_content_message {
    color: white;
  }
}

.feed-item {
  background-color: $color-primary-ultralight;
  border-radius: $default-border-radius;
  padding: .5em;
  margin-bottom: 1em;
  display: grid;
  grid-template-columns: 90% 10%;

  transition: 0.3s;

  &:hover {
    background-color: $color-secondary;
    cursor: pointer;

    & .activity-item__message, .activity-item__time-stamp, &.activity-item--alert::after {
      color: $color-white;
    }
  }

  &--alert::after {
    content: "!";
    font-size: 1.5rem;
    color: $color-secondary;
    grid-column: 2;
    grid-row: 1 / span 2;
    margin: auto;
    font-weight: 500;
  }

  &__message {
    font-size: 1em;
    color: $color-black;
    margin: 0;
    font-weight: 600;
    grid-column: 1;
  }

  &__time-stamp {
    font-size: .7em;
    color: $color-lighterBlack;
    margin: 0;
    font-weight: 600;
    grid-column: 1;
  }
}
