@import '../../resources/colors';
@import '../../resources/variables';

.header {
  background-color: $color-primary;

  z-index: 10;
  font-size: 1.5rem;
  height: 4rem;
  padding: 0 1.5rem;

  display: flex;
  align-items: center;

  -webkit-box-shadow: $default-shadow;
  -moz-box-shadow: $default-shadow;
  box-shadow: $default-shadow;

  &__name {
    color: $color-background;
    text-decoration: none;
  }

  &__logout-button {
    width: 1em;
    fill: $color-background;
  }

  &__navigation-item {
    color: $color-background;
    text-decoration: none;
    padding: 0 1rem;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      margin-left: auto;
    }
  }

  @media screen and (min-width: $screen-size-mobile) {
    padding: 0 3rem;
  }
}
