@import '../../resources/colors';
@import '../../resources/variables';

.header {
  background-color: $color-primary;

  z-index: 10;
  font-size: 1.5rem;
  height: 5rem;
  padding: 0 3rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  -webkit-box-shadow: $default-shadow;
  -moz-box-shadow: $default-shadow;
  box-shadow: $default-shadow;

  &__name {
    color: $color-background;
    text-decoration: none;
  }

  &__logout {
    color: $color-background;
    font-size: 1.1rem;
    text-decoration: none;
  }
}
