@import '../../resources/colors';
@import '../../resources/variables';

.text-button {
  cursor: pointer;
  background-color: $color-primary-light;
  padding: 1em 2em;
  margin-left: 1em;
  font-weight: 500;
  letter-spacing: .1em;
  border-radius: $default-border-radius;
  display: flex;
  color: $color-background;


  -webkit-box-shadow: $default-shadow;
  -moz-box-shadow: $default-shadow;
  box-shadow: $default-shadow;

  &__text {
    margin: 0;
  }

  &__icon {
    color: $color-background;
    width: 1em;
    margin-left: 1em;
  }

  transition: 0.3s;

  &:hover {
    background-color: $color-secondary;
  }

  &--transparent {
    background-color: transparent;
    color: black;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    &:hover {
      background-color: $color-secondary-light;
      -webkit-box-shadow: $default-shadow;
      -moz-box-shadow: $default-shadow;
      box-shadow: $default-shadow;
    }
  }
}
