@import '../../resources/colors';
@import '../../resources/variables';

.activity-feed {
  height: 100%;
  overflow-y: scroll;
  width: 100%;
  border-radius: $default-border-radius-left;
  background-color: $color-primary;
  padding: 1rem;
  box-sizing: border-box;

  -webkit-box-shadow: $default-shadow;
  -moz-box-shadow: $default-shadow;
  box-shadow: $default-shadow;

  &__header {
    margin: 0 0 1rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: $color-background;
  }

  &__no_content_message {
    color: white;
  }
}

.activity-item {
  background-color: $color-primary-ultralight;
  border-radius: $default-border-radius;
  padding: .5em;
  margin-bottom: 1em;
  display: grid;
  grid-template-columns: 90% 10%;

  transition: 0.3s;

  &:hover {
    background-color: $color-secondary;
    cursor: pointer;

    & .activity-item__message, .activity-item__time-stamp, &.activity-item--alert::after {
      color: $color-white;
    }
  }

  &--alert::after {
    content: "!";
    font-size: 1.5rem;
    color: $color-secondary;
    grid-column: 2;
    grid-row: 1 / span 2;
    margin: auto;
    font-weight: 500;
  }

  &__message {
    font-size: 1em;
    color: $color-black;
    margin: 0;
    font-weight: 600;
    grid-column: 1;
  }

  &__time-stamp {
    font-size: .7em;
    color: $color-lighterBlack;
    margin: 0;
    font-weight: 600;
    grid-column: 1;
  }
}
