.cover {
  width: 7rem;
  height: 7rem;
  border-radius: .25rem;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.MuiButtonBase-root {
  padding: .5rem !important;
}
