@import '../../../../../../resources/colors';
@import '../../../../../../resources/variables';

.menu-item {
  background-color: $color-primary-ultralight;
  border-radius: $default-border-radius;

  text-decoration: none;
  color: $color-black;

  height: 5rem;
  margin-bottom: 1rem;
  padding: 1em;

  display: grid;
  grid-template-columns: 2fr 8fr;
  grid-template-rows: 50% 50%;

  transition: 0.3s;

  &:hover {
    cursor: pointer;
    background-color: $color-secondary;

    & .menu-item__price, .menu-item__name {
      color: $color-white;
    }
  }

  &__image {
    grid-column: 1;
    grid-row: 1 / span 2;
    height: 100%;
  }

  &__name {
    grid-column: 2;
    grid-row: 1;

    font-weight: 500;
  }

  &__price {
    grid-column: 2;
    grid-row: 2;
    margin: 0;

    color: $color-lighterBlack;
  }
}
