@import '../../resources/colors';
@import '../../resources/variables';

.text-button-with-icon {
  cursor: pointer;
  display: flex;
  padding: 1em 0 1em 1em;

  &__text {
    color: $color-background;
    margin: 0;
  }

  &__icon {
    width: 1.5em;
    fill: $color-background;
    margin-right: 1em;
  }

  &:hover {
    .text-button-with-icon {
      &__text {
        color: $color-secondary-light;
        transition: 0.3s;
      }

      &__icon {
        fill: $color-secondary-light;
        transition: 0.3s;
      }
    }
  }
}
