$color-primary: #1d3557;
$color-primary-light: #457b9d;
$color-primary-ultralight: #ddfeff;
$color-secondary: #e63946;
$color-secondary-light: #f1b8d0;
$color-background: #f1faee;
$color-black: #000000;
$color-white: #ffffff;
$color-lighterBlack: #414141;
$color-error-red: #ff0000;

