@import '../../../../../../resources/colors';
@import '../../../../../../resources/variables';

.image-add {
  height: 25em;
  padding: 0 5em;
  background-repeat: no-repeat;
  background-size: contain;

  &__photo {
    fill: $color-background;
  }
}
