.card {
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.modal-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;

}

.image-height {
  height: 23rem;
}
