@import '../../../../resources/colors';
@import '../../../../resources/variables';

.order-modal {
  &__content {
    display: grid;
    grid-template-columns: 10rem auto;
    overflow: none;
  }

  &__order-list {
    padding-left: 2em;
    border-left: 2px solid $color-primary-light;
    overflow: auto;
  }

  &__list-title {
    font-size: 1.3em;
    font-weight: 500;
    margin: 0 0 2rem;
  }

  &__item-amount {
    font-weight: 500;
    margin: 0 1rem 0 0;
  }

  &__item-title {
    font-weight: 500;
    margin: 0;
  }

  &__row {
    display: flex;
    margin-bottom: 1rem;
  }
}
